---
layout: splash
excerpt: Analyst and researcher with experience in government, academia and the third sector
header:
  overlay_image: "/assets/images/banner-image.png"
  overlay color:
  overlay_filter:
  actions:
  - label: About me
    url: "/about/"
author_profile: true
feature_row:
- image_path: "/assets/images/undraw_social_dashboard_k3pt.png"
  title: Reddit
  excerpt: Academic blogging on Reddit. Articles, papers, digital methods and commentary.
  url: "/categories/#reddit"
  btn_label: Read more
  btn_class: btn--primary
- image_path: "/assets/images/undraw_voting_nvu7.png"
  title: Politics and policymaking
  excerpt: British politics, policy and policy making. Occassional humour article.
  url: "/categories/#politics"
  btn_label: Read more
  btn_class: btn--primary
- image_path: "/assets/images/undraw_code_review_l1q9.png"
  title: Technology
  excerpt: "Covering programming, machine learning, and everything else."
  url: "/categories/#technology"
  btn_label: Read more
  btn_class: btn--primary
feature_row2:
- image_path: "/assets/images/undraw_shopping_eii3.png"
  title: Fashion
  excerpt: Articles on online fashion, the fashion industry and random thoughts.
  url: "/categories/#fashion"
  btn_label: Read more
  btn_class: btn--primary
- image_path: "/assets/images/undraw_social_distancing_2g0u.png"
  title: Health
  excerpt: Discussion of the Covid-19 pandemic and other health adjacent issues.
  url: "/categories/#health"
  btn_label: Read more
  btn_class: btn--primary
- image_path: "/assets/images/undraw_sorting_thoughts_6d48.png"
  title: Personal and Misc.
  excerpt: 'Sharing hobbies old and new. This is where I try to show I''m not a total dork.'
  url: "/categories/#misc"
  btn_label: Read more
  btn_class: btn--primary
feature_row3:
- image_path: "/assets/images/survey_project_image.png"
  title: Surveys and Official Statistics
  excerpt: "Having worked in the Office for National Statistics (ONS) in the production of economic national statistics and some of the largest surveys carried out in government I will be outlining some of my experience and takeaways. I will be covering some of the typical topics of survyes, general research, and also the practical operational aspects of carrying out large surveys at scale."
  url: "https://naiyanjones.com/categories/#surveys"
  btn_label: Read more
  btn_class: btn--primary
feature_row4:
- image_path: "/assets/images/reddit-logo-burgundy.jpg"
  title: Reddit researchs
  excerpt: "Working with several North Amerrican academics from a number of fields I have published three systematic reviews on the social media platform Reddit. With [Nicholas Proferes](https://scholar.google.com/citations?user=iJwn4IkAAAAJ&hl=en), [Michael Zimmer](https://scholar.google.com/citations?user=BjpDtPYAAAAJ&hl=en), [Sarah Gilbert](https://scholar.google.ca/citations?user=mUWci5sAAAAJ&hl=en) and [Casey Fiesler](https://scholar.google.com/citations?user=D9LfKkAe7d0C&hl=en)I have published a [systemtic overview of dispclines, approaches, methods and ethics](https://journals.sagepub.com/doi/10.1177/20563051211019004) and a deeper dive on [ethical considerations in Reddit research](https://dl.acm.org/doi/10.1145/3633070). separately with [Dr Rebecca Britt](https://rebeccakbritt.com/) from the University of Alabama I have published about [trends and challenges with Reddit and health communication research](https://doi.org/10.1177/20570473231209075)."
  url: "https://naiyanjones.com/categories/#reddit"
  btn_label: Read more
  btn_class: btn--primary
feature_row5:
- image_path: "/assets/images/reflection-thinking.png"
  title: "Reflections on the civil service"
  excerpt: "Providing some impartial thoughts on day-to-day actiivites or career aspiration in the civil service. For example, what are the differences analytical professions in the civil service? Why isn't there a data science profession, but there is for social researchers, in the civil service? And a few tips from moving to academia to the civil service."
  url: "https://naiyanjones.com/categories/#civilservice"
  btn_label: Read more
  btn_class: btn--primary
analytics:
  provider: google-gtag
  google:
    tracking_id: UA-168799890-2
    anonymize_ip: false
---

<P ALIGN=CENTER>Hi, I’m Naiyan. Or as some people call me, Nay.</P>

<P ALIGN=CENTER>I am an analyst and researcher in the UK government. I have worked on and improved some of the largest surveys carried out in government. If you have heard or read an article about inflation or Gross Domestic Product (GDP) in the past few years, then it's likley I worked on it. On the side I also have a wider interests include social media platforms and online communities.</P>

<h1 P ALIGN=CENTER > Current projects </h1>

{% include feature_row id="feature_row3" type="left" %}

{% include feature_row id="feature_row4" type="right" %}

{% include feature_row id="feature_row5" type="left" %}

<h1 P ALIGN=CENTER > Blog posts </h1>

<p ALIGN=CENTER> Click any of the below categories to see all my previous blog posts on that topic </p>

{% include feature_row %}

{% include feature_row id="feature_row2" %}
